<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Coral-Components</title>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_677792_yffdh0gboef.css">
    <script src="http://10.20.1.54/cdn/react/15.3.2/react.min.js"></script>
    <script src="http://10.20.1.54/cdn/react/15.3.2/react-dom.min.js"></script>
</head>

<body>
    <div id="root"></div>
</body>

</html>